*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c1d6cc;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    position: sticky;
    top: 0;

}
.header{
    display: flex;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
}
ul{
    list-style: none;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}
.header h2{
    font-size: 30px;
}

.nav li a{
    display: block;
    padding: 8px 12px;
    text-decoration: none;
}
.left {
    background: #c1d6cc;
    display: flex;
    flex-direction: column;
    left: 10%;
    height: 100%;
}
.right{
    background: #c1d6cc;
    padding: 1%;
    flex-direction: column;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}
.center{
    padding: 1%;
}
.video-card {
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.video-info {
    padding: 8px;
}

.video-info h4 {
    font-size: 15px;
    margin-bottom: 4px;
}

.video-info p {
    color: gray;
    font-size: 13px;
    margin: 0;
}
.col-m-8 center h4,p{
    font-size: 20px;
}
.footer{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.col-m-1 {width: 8.33333%;}
.col-m-2 {width: 16.66667%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33333%;}
.col-m-5 {width: 41.66667%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33333%;}
.col-m-8 {width: 66.66667%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33333%;}
.col-m-11 {width: 91.66667%;}
.col-m-12 {width: 100%;}